body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#content {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/bg_ava.jpg');
}

#introduction {
    margin-top: 10em;
    margin-left: 2em;
    margin-bottom: 1em;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    text-align: start;
    text-align: center;
}

#introduction h1 {
    padding-left: 2em;
    text-align: start;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 4em;
    user-select: none;
}

#introduction h1 span {
    font-weight: 900;
}

#introduction img {
    align-self: center;
    height: auto;
    width: 75%;
}

#footer-text {
    font-size: 1.2em;
}

#footer-text span {
    font-weight: 900;
}

#card-area {
    margin: 5em 0;
    min-width: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

#courses {
    background-image: url('/images/card_a.jpg');
}

#moodle {
    background-image: url('/images/card_b.jpg');
}

#base {
    background-image: url('/images/card_c.jpg');
}

.cards {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-width: calc(80% - 1em);
    max-width: calc(80% - 1em);
    min-height: calc(25% - 1em);
    max-height: calc(30% - 1em);
    
}

.card-title {
    margin: 0;
    font-size: 4vh;
    font-weight: 900;
    user-select: none;
}

.card-text {
    user-select: none;
    margin: 1% 0 2% 0;
    max-width: 70%;
    font-size: 2.6vh;

}

.card-btn {
    display: inline-block;
    padding: 3px 8px;
    color: #005232;
    background-color: #ffb800;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1.5rem;
    align-self: flex-end;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s linear;
    flex-shrink: 0;
}

.card-btn:hover {
    transform: translate(3px, -2px);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1415px) {
    .card-title {
        font-size: 3.5vh;
    }

    .card-text {
        font-size: 1.8vh;
    }
    
    #introduction h1 {
        font-size: 3.5em;
    }

    #introduction img {
        width: 100%;
    }
}


@media only screen and (max-width: 900px) {
    body {
        height: 100%;
    }

    #content {
        height: inherit;
        flex-direction: column;
    }

    #introduction {
        margin: 0;
        max-width: 100%;
        align-items: center;
    }

    #introduction h1{
        padding: 2em 0 2em 0;
        text-align: center;
        max-width: 80%;
    }

    #introduction img {
        padding: 0;
        width: 80vw;
        margin-bottom: 4em;
    }

    #card-area {
        min-height: 100vh;
        max-width: 100%;
        align-items: center;
    }
    
    .cards {
        min-height: 13em;
    }
}

@media only screen and (max-width: 500px) {
    #introduction h1 {
        font-size: 2.5em;
    }

    #introduction img {
        padding: 0 1em;
        width: 90vw;
    }
}

@media only screen and (max-width: 446px) {
    #introduction h1 {
        font-size: 2em;
    }

    #footer-text {
        font-size: .9em;
        margin-bottom: 0;
    }

    .card-title {
        font-size: 1.5em;
    }

    .card-text {
        font-size: 1em;
    }

    .card-btn {
        font-size: 1.em;
    }
}