body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#content {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/bg_ava.jpg');
}

#introduction {
    padding-top: 10em;
    padding-left: 7em;
    padding-bottom: 1em;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    text-align: start;
}

#introduction h1 {
    text-align: start;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 4.5em;
}

#introduction h1 span {
    font-weight: 900;
}

#introduction img {
    align-self: center;
    height: auto;
    width: 43vw;
}

#introduction p {
    font-size: 1.2em;
}

#introduction p span {
    font-weight: 900;
}

#card-area {
    min-width: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#courses {
    background-image: url('/images/card_a.jpg');
}

#moodle {
    background-image: url('/images/card_b.jpg');
}

#base {
    background-image: url('/images/card_c.jpg');
}

.cards {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-width: calc(80% - 1em);
    max-width: calc(80% - 1em);
    min-height: calc(30% - 1em);
    max-height: calc(30% - 1em);
    
}

.card-title {
    margin: 0;
    font-size: 2.3em;
    font-weight: 900;
}

.card-text {
    margin: 1% 0 2% 0;
    max-width: 70%;
    font-size: 1.5em;

}

.card-btn {
    display: inline-block;
    padding: 3px 8px;
    color: #005232;
    background-color: #ffb800;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1.5rem;
    align-self: flex-end;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s linear;
}

.card-btn:hover {
    transform: translate(3px, -2px);
}

@media only screen and (max-width: 900px) {
    body {
        height: 100%;
    }

    #content {
        height: inherit;
        flex-direction: column;
    }

    #introduction {
        padding: 0;
        max-width: 100%;
    }

    #introduction h1{
    }

    #card-area {
        min-height: 100vh;
        max-width: 100%;
    }

 }